.fade-section {
  opacity: 0;
  transform: translateY(60px) scale(0.98);
  filter: blur(6px);

  transition:
    opacity 900ms cubic-bezier(.22,1,.36,1),
    transform 900ms cubic-bezier(.22,1,.36,1),
    filter 900ms cubic-bezier(.22,1,.36,1);
}

.fade-section.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}